@import '../utils/colors';
@import '../utils/mixins';

:root {
  --primary-color-100: #{$primary-color-100};
  --primary-color-200: #{$primary-color-200};
  --secondary-color-100: #{$secondary-color-100};
  --secondary-color-200: #{$secondary-color-200};
  --neutral-color-100: #{$neutral-color-100};
  --neutral-color-200: #{$neutral-color-200};
  --neutral-color-300: #{$neutral-color-300};
  --neutral-color-400: #{$neutral-color-400};
  --neutral-color-500: #{$neutral-color-500};
}

[data-theme='dark'] {
  color-scheme: dark;
  --primary-color-100: #{$dark-primary-color-100};
  --primary-color-200: #{$dark-primary-color-200};
  --secondary-color-100: #{$dark-secondary-color-100};
  --secondary-color-200: #{$dark-secondary-color-200};
  --neutral-color-100: #{$dark-neutral-color-100};
  --neutral-color-200: #{$dark-neutral-color-200};
  --neutral-color-300: #{$dark-neutral-color-300};
  --neutral-color-400: #{$dark-neutral-color-400};
  --neutral-color-500: #{$dark-neutral-color-500};

  & img {
    filter: brightness(0.85);
  }
}

body {
  background-color: var(--neutral-color-300);
}

.btn {
  transition: opacity 0.15s ease-in;
  &--primary {
    background-color: var(--primary-color-200);
    color: var(--neutral-color-100);
  }

  &--secondary {
    color: var(--primary-color-200);
  }

  &--tertiary {
    color: var(--neutral-color-300);
  }

  &--gray {
    background-color: var(--neutral-color-400);
    color: var(--neutral-color-100);
  }
  &--danger {
    background-color: var(--secondary-color-200);
    color: var(--neutral-color-100);
  }

  &--text-primary {
    color: var(--primary-color-200);
  }

  &--text-danger {
    color: var(--secondary-color-200);
  }

  &:hover {
    opacity: 0.75;
  }
}

.heading {
  color: var(--neutral-color-500);
}

.mention {
  color: var(--primary-color-200);
}

.text {
  &--light {
    color: var(--neutral-color-400);
  }

  &--dark {
    color: var(--neutral-color-500);
  }
}

.badge {
  background-color: var(--primary-color-200);
  color: var(--neutral-color-100);
}

.comment-input {
  &:hover,
  &:focus-visible {
    border-color: var(--neutral-color-500);
    outline-color: var(--neutral-color-500);
  }
}

.box {
  &--white {
    background-color: var(--neutral-color-100);
  }
}

.spinner {
  background-color: var(--neutral-color-300);

  & .text {
    color: var(--primary-color-200);
  }

  & button:hover > svg path {
    fill: var(--primary-color-200);
    transition: fill 0.15s ease-in;
  }
}

dialog {
  background-color: transparent;

  & > div[role='document'] {
    background-color: var(--neutral-color-100);

    @include screen-dark-theme {
      background-color: var(--neutral-color-300);
    }
  }

  &::backdrop {
    background-color: transparentize($color: black, $amount: 0.5);
  }
}

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background-color: var(--neutral-color-200);
  border-radius: 50px;
}

::-webkit-scrollbar-thumb {
  background-color: var(--primary-color-100);
  border: 3px solid var(--neutral-color-200);
  border-radius: 50px;
}

::selection {
  background-color: var(--primary-color-100);
  color: var(--neutral-color-500);

  @include screen-dark-theme {
    background-color: var(--primary-color-200);
  }
}

.attribution {
  color: var(--neutral-color-400);
  & a {
    color: var(--primary-color-200);
  }
}

.sr-only {
  color: var(--neutral-color-500);
}
