$primary-color-100: hsl(239, 57%, 85%);
$primary-color-200: hsl(238, 40%, 52%);

$secondary-color-100: hsl(357, 100%, 86%);
$secondary-color-200: hsl(358, 79%, 66%);

$neutral-color-100: hsl(0, 0%, 100%);
$neutral-color-200: hsl(228, 33%, 97%);
$neutral-color-300: hsl(223, 19%, 93%);
$neutral-color-400: hsl(211, 10%, 45%);
$neutral-color-500: hsl(212, 24%, 26%);

// dark theme
$dark-primary-color-100: hsl(239, 57%, 85%);
$dark-primary-color-200: hsl(238, 40%, 52%);

$dark-secondary-color-100: hsl(357, 100%, 86%);
$dark-secondary-color-200: hsl(358, 79%, 66%);

$dark-neutral-color-100: hsl(200, 6%, 10%);
$dark-neutral-color-200: hsl(195, 7%, 12%);
$dark-neutral-color-300: hsl(195, 6%, 14%);
$dark-neutral-color-400: hsl(35, 9%, 65%);
$dark-neutral-color-500: hsl(0, 0%, 100%);
