@import url("https://fonts.googleapis.com/css2?family=Rubik:wght@400;500;700&display=swap");
*,
*::after,
*::before {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
}

button {
  background: none;
  border: none;
}

*,
*::after,
*::before {
  font-family: "Rubik", sans-serif;
  font-size: 16px;
}

.btn {
  font-weight: 500;
}
.btn--uppercase {
  text-transform: uppercase;
}

.heading {
  letter-spacing: -0.3px;
}

.mention {
  font-weight: 700;
  letter-spacing: -0.3px;
}

.text {
  font-weight: 400;
  letter-spacing: 0px;
  line-height: 1.5;
}

.badge {
  font-size: 0.8em;
  font-weight: 500;
  letter-spacing: 0.5px;
}

.btn--primary {
  background-color: hsl(238deg, 40%, 52%);
  color: hsl(0deg, 0%, 100%);
}
.btn--secondary {
  color: hsl(238deg, 40%, 52%);
}
.btn--tertiary {
  color: hsl(223deg, 19%, 93%);
}
.btn--text-primary {
  color: hsl(238deg, 40%, 52%);
}
.btn--text-danger {
  color: hsl(358deg, 79%, 66%);
}

.heading {
  color: hsl(212deg, 24%, 26%);
}

.mention {
  color: hsl(238deg, 40%, 52%);
}

.text--light {
  color: hsl(211deg, 10%, 45%);
}
.text--dark {
  color: hsl(212deg, 24%, 26%);
}

.badge {
  background-color: hsl(238deg, 40%, 52%);
  color: hsl(0deg, 0%, 100%);
}

*,
*::after,
*::before {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.btn {
  cursor: pointer;
  padding: 14.5px 30.5px;
}
.btn--primary {
  border-radius: 8px;
}
.btn--compact {
  padding: 0;
}
.btn--iconed {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 8px;
}

.badge {
  border-radius: 2px;
  padding: 2px 6px;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
}