@import url("https://fonts.googleapis.com/css2?family=Rubik:wght@400;500;700&display=swap");
*,
*::after,
*::before {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
  -webkit-transition: background-color 0.45s ease-in;
  transition: background-color 0.45s ease-in;
}

button {
  background: none;
  border: none;
  cursor: pointer;
}

picture {
  line-height: 0;
}

*,
*::after,
*::before {
  font-family: "Rubik", sans-serif;
  font-size: 16px;
}

.btn {
  font-weight: 500;
}
.btn--uppercase {
  text-transform: uppercase;
}

.heading {
  letter-spacing: -0.3px;
}

.mention {
  font-weight: 700;
  letter-spacing: -0.3px;
}

.text {
  font-weight: 400;
  letter-spacing: 0px;
  line-height: 1.5;
}

.badge {
  font-size: 0.8em;
  font-weight: 500;
  letter-spacing: 0.5px;
}

.spinner button {
  line-height: 0;
}
.spinner .text {
  font-weight: 500;
  line-height: initial;
}

.comment-input {
  line-height: 1.5;
}

dialog h2 {
  font-size: 1.25em;
}
@media screen and (min-width: 768px) {
  dialog h2 {
    font-size: 1.5em;
  }
}

.attribution {
  font-size: 11px;
  text-align: center;
}

:root {
  --primary-color-100: hsl(239deg, 57%, 85%);
  --primary-color-200: hsl(238deg, 40%, 52%);
  --secondary-color-100: hsl(357deg, 100%, 86%);
  --secondary-color-200: hsl(358deg, 79%, 66%);
  --neutral-color-100: hsl(0deg, 0%, 100%);
  --neutral-color-200: hsl(228deg, 33%, 97%);
  --neutral-color-300: hsl(223deg, 19%, 93%);
  --neutral-color-400: hsl(211deg, 10%, 45%);
  --neutral-color-500: hsl(212deg, 24%, 26%);
}

[data-theme=dark] {
  color-scheme: dark;
  --primary-color-100: hsl(239deg, 57%, 85%);
  --primary-color-200: hsl(238deg, 40%, 52%);
  --secondary-color-100: hsl(357deg, 100%, 86%);
  --secondary-color-200: hsl(358deg, 79%, 66%);
  --neutral-color-100: hsl(200deg, 6%, 10%);
  --neutral-color-200: hsl(195deg, 7%, 12%);
  --neutral-color-300: hsl(195deg, 6%, 14%);
  --neutral-color-400: hsl(35deg, 9%, 65%);
  --neutral-color-500: hsl(0deg, 0%, 100%);
}

body {
  background-color: var(--neutral-color-300);
}

.btn--primary {
  background-color: var(--primary-color-200);
  color: var(--neutral-color-100);
}
.btn--secondary {
  color: var(--primary-color-200);
}
.btn--tertiary {
  color: var(--neutral-color-300);
}
.btn--gray {
  background-color: var(--neutral-color-400);
  color: var(--neutral-color-100);
}
.btn--danger {
  background-color: var(--secondary-color-200);
  color: var(--neutral-color-100);
}
.btn--text-primary {
  color: var(--primary-color-200);
}
.btn--text-danger {
  color: var(--secondary-color-200);
}
.btn:hover {
  opacity: 0.75;
}

.heading {
  color: var(--neutral-color-500);
}

.mention {
  color: var(--primary-color-200);
}

.text--light {
  color: var(--neutral-color-400);
}
.text--dark {
  color: var(--neutral-color-500);
}

.badge {
  background-color: var(--primary-color-200);
  color: var(--neutral-color-100);
}

.comment-input:hover, .comment-input:focus-visible {
  border-color: var(--neutral-color-500);
  outline-color: var(--neutral-color-500);
}

.box--white {
  background-color: var(--neutral-color-100);
}

.spinner {
  background-color: var(--neutral-color-300);
}
.spinner .text {
  color: var(--primary-color-200);
}
.spinner button:hover > svg path {
  fill: var(--primary-color-200);
}

dialog {
  background-color: transparent;
}
dialog > div[role=document] {
  background-color: var(--neutral-color-100);
}
@media (prefers-color-scheme: dark) {
  dialog > div[role=document] {
    background-color: var(--neutral-color-300);
  }
}
dialog::-webkit-backdrop {
  background-color: rgba(0, 0, 0, 0.5);
}
dialog::backdrop {
  background-color: rgba(0, 0, 0, 0.5);
}

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background-color: var(--neutral-color-200);
  border-radius: 50px;
}

::-webkit-scrollbar-thumb {
  background-color: var(--primary-color-100);
  border: 3px solid var(--neutral-color-200);
  border-radius: 50px;
}

::-moz-selection {
  background-color: var(--primary-color-100);
  color: var(--neutral-color-500);
}

::selection {
  background-color: var(--primary-color-100);
  color: var(--neutral-color-500);
}
@media (prefers-color-scheme: dark) {
  ::-moz-selection {
    background-color: var(--primary-color-200);
  }
  ::selection {
    background-color: var(--primary-color-200);
  }
}

.attribution {
  color: var(--neutral-color-400);
}
.attribution a {
  color: var(--primary-color-200);
}

*,
*::after,
*::before {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  padding: 31px 16px 16px;
}
@media screen and (min-width: 768px) {
  body {
    padding: 64px 16px 16px;
  }
}

main {
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 18px;
  margin: 0 auto;
  max-width: 600px;
}
@media screen and (min-width: 768px) {
  main {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    max-width: 732px;
  }
}

.btn {
  border-radius: 8px;
  padding: 14.5px;
}
.btn--compact {
  padding: 0;
}
.btn--iconed {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 8px;
}

.badge {
  border-radius: 2px;
  padding: 2px 6px;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
}

.comment-input {
  border-radius: 8px;
  border: 1px solid hsl(223deg, 19%, 93%);
  min-height: 125px;
  overflow: auto;
  padding: 10px 24px;
  resize: vertical;
  width: 100%;
}

.sr-only {
  clip: rect(0 0 0 0);
  -webkit-clip-path: inset(50%);
          clip-path: inset(50%);
  height: 1px;
  overflow: hidden;
  position: absolute;
  white-space: nowrap;
  width: 1px;
}

.profile-pic img {
  border-radius: 50%;
}
.profile-pic--sm img {
  height: auto;
  width: 32px;
}
.profile-pic--md img {
  height: auto;
  width: 40px;
}

.box {
  border-radius: 8px;
  padding: 16px;
}

.spinner {
  border-radius: 12px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 10px;
  padding: 4px;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
}
@media screen and (min-width: 768px) {
  .spinner {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}
.spinner button {
  padding: 10.5px;
}
@media screen and (min-width: 768px) {
  .spinner button {
    padding: 9px 10.5px;
  }
}
.spinner .text {
  -ms-flex-item-align: center;
      align-self: center;
}

.comment-box {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  padding-right: 18px;
  width: 100%;
}
@media screen and (max-width: 375px) {
  .comment-box {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}
@media screen and (min-width: 375px) {
  .comment-box {
    padding: 24px;
  }
}
@media screen and (min-width: 768px) {
  .comment-box {
    -webkit-column-gap: 24.5px;
       -moz-column-gap: 24.5px;
            column-gap: 24.5px;
    grid-template-columns: -webkit-min-content repeat(2, auto);
    grid-template-columns: min-content repeat(2, auto);
  }
}
.comment-box--indent {
  border-left: 1px solid hsl(211deg, 10%, 45%);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 16px;
  margin-top: -4px;
  padding-left: 16px;
}
@media screen and (min-width: 768px) {
  .comment-box--indent {
    gap: 24px;
    margin-left: 46px;
    margin-top: 0;
    padding-left: 42px;
  }
}
.comment-box > section {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 16px;
  grid-column: 1/3;
  grid-row: 1;
  margin-bottom: 16px;
}
@media screen and (max-width: 375px) {
  .comment-box > section {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    gap: 0px;
  }
}
@media screen and (min-width: 768px) {
  .comment-box > section {
    grid-column: 2/3;
    grid-row: 1;
  }
}
@media screen and (max-width: 375px) {
  .comment-box > p {
    text-align: center;
  }
}
.comment-box > p,
.comment-box > form {
  grid-column: 1/3;
  grid-row: 2;
  margin-bottom: 16px;
}
@media screen and (min-width: 768px) {
  .comment-box > p,
.comment-box > form {
    grid-column: 2/4;
    grid-row: 2;
    margin-bottom: 0px;
  }
}
.comment-box > form {
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 14px;
}
.comment-box > .spinner {
  align-self: center;
  grid-column: 1/2;
  grid-row: 3;
}
@media screen and (min-width: 768px) {
  .comment-box > .spinner {
    align-self: start;
    grid-column: 1;
    grid-row: 1/3;
  }
}
.comment-box > div:last-of-type {
  align-self: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  grid-column: 2/3;
  grid-row: 3;
  justify-self: end;
  margin: 0px -8.5px;
}
@media screen and (min-width: 768px) {
  .comment-box > div:last-of-type {
    align-self: start;
    gap: 8px;
    grid-column: 3/4;
    grid-row: 1;
    margin: -3px -8.5px;
  }
}
.comment-box > div:last-of-type button {
  padding: 10.5px 8.5px;
}
.comment-box h2 > span {
  margin-left: 8px;
}

dialog {
  padding: 0;
  border: 0;
}

dialog > div[role=document] {
  position: fixed;
  border-radius: 10px;
  border: none;
  left: 50%;
  max-width: 400px;
  padding: 25px;
  top: 50%;
  -webkit-transform: translateX(-50%) translateY(-50%);
          transform: translateX(-50%) translateY(-50%);
  width: 91.5%;
}
@media screen and (min-width: 768px) {
  dialog > div[role=document] {
    padding: 32px;
  }
}
dialog > div[role=document] h2,
dialog > div[role=document] p {
  margin-bottom: 16px;
}
@media screen and (min-width: 768px) {
  dialog > div[role=document] h2,
dialog > div[role=document] p {
    margin-bottom: 20px;
  }
}
dialog > div[role=document] > ul:last-of-type {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 12px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  list-style: none;
}
dialog > div[role=document] > ul:last-of-type li {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}
dialog > div[role=document] > ul:last-of-type button {
  width: 100%;
}

.comment-input-form {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: grid;
  gap: 16px;
  grid-template-columns: repeat(2, 1fr);
  margin-bottom: 24px;
}
@media screen and (min-width: 768px) {
  .comment-input-form {
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: start;
    grid-template-columns: -webkit-min-content 1fr -webkit-min-content;
    grid-template-columns: min-content 1fr min-content;
    padding: 24px;
    width: 100%;
  }
}
.comment-input-form > picture {
  grid-column: 1;
  grid-row: 2;
}
@media screen and (min-width: 768px) {
  .comment-input-form > picture {
    grid-row: 1;
    margin-top: 4px;
  }
}
@media screen and (min-width: 768px) {
  .comment-input-form > picture > img {
    height: auto;
    width: 40px;
  }
}
.comment-input-form > textarea {
  grid-column: 1/3;
  grid-row: 1;
  min-height: 96px;
}
@media screen and (min-width: 768px) {
  .comment-input-form > textarea {
    grid-column: 2;
  }
}
.comment-input-form > button {
  grid-column: 2;
  grid-row: 2;
  justify-self: end;
  padding: 14.5px 30.5px;
  width: -webkit-min-content;
  width: -moz-min-content;
  width: min-content;
}
@media screen and (min-width: 768px) {
  .comment-input-form > button {
    grid-column: 3;
    grid-row: 1;
  }
}

.fixed--left {
  border-bottom-left-radius: 0;
  border-top-left-radius: 0;
  left: -5px;
  line-height: 0;
  padding: 12px;
  padding-left: 8px;
  position: fixed;
  top: 50%;
  -webkit-transition-duration: 0.25s;
          transition-duration: 0.25s;
  -webkit-transition-property: background-color, color, -webkit-transform;
  transition-property: background-color, color, -webkit-transform;
  transition-property: background-color, color, transform;
  transition-property: background-color, color, transform, -webkit-transform;
}
.fixed--left:hover {
  background-color: var(--primary-color-200);
  color: var(--neutral-color-100);
  -webkit-transform: translateX(5px);
          transform: translateX(5px);
}