dialog > div[role='document'] {
  border-radius: 10px;
  border: none;
  max-width: 400px;
  padding: 25px;
  width: 91.5%;

  @include adapt-screen(md) {
    padding: 32px;
  }
}

dialog > div[role='document'] h2,
dialog > div[role='document'] p {
  margin-bottom: 16px;

  @include adapt-screen(md) {
    margin-bottom: 20px;
  }
}

dialog > div[role='document'] > ul:last-of-type {
  display: flex;
  gap: 12px;
  justify-content: space-between;

  & li {
    flex: 1;
  }

  & button {
    width: 100%;
  }
}
